body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.active{
  font-weight: bold;
  font-size: 22px;
}

a{
  text-decoration: none;
  color: darkslategray;
  font-size:20px;
  
}
.nav-bar{
  padding-top: 20px;

}
.signup{
  align-content:center;
}
.nav-bar li{
  display: inline;
  list-style-type: none;
  margin-right: 15px;
  
}
.welcome-text{
  padding-top:110px;
  text-align: center;
  color: rgb(102, 137, 156);
  font-size:20px;
  font-family: sans-serif;

}
.header{
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: rgb(71, 126, 126);
}

.footer{
  margin-top:900px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: darkslategrey;
}

.app{
  height:850px; 
  background-image: url("./contents/cloud.jpg");
}

*{
  margin: 0px;
}